<launch>

	<node pkg="platform_rx_thread_test" name="rx_thread_test" type="rx_thread_test">
        <param name="path" value="/dev/ttyUSB0"/>
        <param name="serial_frequency" value="20"/>
        <param name="publish_frequency" value="10"/>
        <param name="moving_average_element_number" value="5"/>
    </node>

	<node pkg="teb_local_planner_tutorials" type="cmd_vel_to_ackermann_drive.py"
	 	name="cmd_vel_to_ackermann_drive"/>

	<node pkg="platform_tx" type="platform_tx" name="platform_tx" args="/dev/ttyUSB0">
        <param name="frequency" value="50"/>
        <param name="ackermann_topic_name" value="control/cmd_platform"/>
        <param name="alignmentBias" value="0"/>
    </node>

    <node pkg="platform_controller" type="PlatformController_node" name="control" output="screen">
        <param name="/accel/settling_time" value="0.8"/>
        <param name="/speed/weight" value="1.35"/>
        <param name="/speed/shift" value="20.0"/>

        <param name="/brake/kp" value="30.0"/>
        <param name="/brake/ki" value="0.0"/>
        <param name="/brake/kd" value="0.0"/>

        <param name="/steer/kp" value="1.0"/>    0.8  / 0.7  / 0.5
        <param name="/steer/ki" value="0.0"/>    10.0 / 1.0  / 1.0
        <param name="/steer/kd" value="0.0"/>    0.01 / 0.01 / 0.008
    </node>


  <!-->
  <node pkg="imu" type="imu_main" name="imu" args="/dev/ttyUSB1 10">
      <param name="angle_alignment" value="112"/>
      <param name="debugingFlag" value="true"/>
      <param name="imu_yaw_covariance" value="0.5"/>
  </node>

 <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="GPS_Sensor" args="/dev/ttyUSB2 38400"/>
 <node pkg="nmea_navsat_driver" type="GPS_Subscriber" name="GPS_Subscriber"/>
 <node pkg="gps_common" type="utm_odometry_node" name="Degree_To_UTM" />
 
 <param name="GPS_Odometry_initial" value="false"/>
 <-->
 	<arg name="host" default="192.168.0.204" />
 	<arg name="publish_min_range_as_inf" default="false" />
 	<node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
    		<param name="host" value="$(arg host)" />
    		<param name="publish_min_range_as_inf" value="$(arg publish_min_range_as_inf)" />
 	</node>
 	<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_to_scan_filter_chain">
    		<rosparam file="$(find laser_filters)/vail_obstacles.yaml" command="load"/>
 	</node>
		
	<!--arg name="cam_num" default="1"/>	
	<arg name="frequency" default="30"/>
	<include file="$(find camera_image)/launch/camera_image.launch">
		<arg name="cam_num" value="$(arg cam_num)"/>
		<arg name="frequency" value="$(arg frequency)"/>
	</include> 
	<node name="lane_detection" pkg="lane_detection" type="lane_detection" respawn="true">
	</node>
	<node name="cal_distance" pkg="cal_distance" type="cal_distance" respawn="true">
	</node>
    	<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" respawn="true">
	</node>
	<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
		<arg name="cam_num" value="$(arg cam_num)"/>
	</include>
	<-->
</launch>
