<launch>
 <node pkg="platform_rx" type="platform_rx_main_node" name="platform_rx_main_node"
    args="/dev/ttyUSB0 10"/>

 <node pkg="imu" type="imu_main" name="imu_main"
   args="/dev/ttyUSB0 12"/>

 <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="GPS_Sensor">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="38400"/>
 </node>
 <node pkg="nmea_navsat_driver" type="GPS_subscriber" name="GPS_subscriber" />
 <node pkg="nmea_navsat_driver" type="GPS_transformer" name="GPS_transformer" />

 <arg name="host" default="192.168.0.204" />
 <arg name="publish_min_range_as_inf" default="false" />
 <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
   <param name="host" value="$(arg host)" />
   <param name="publish_min_range_as_inf" value="$(arg publish_min_range_as_inf)" />
 </node>
</launch>
