<launch>
    <rosparam file="$(find sensor_launch)/cfg/sensor_params.yaml" command="load"/>
   
   	
    <node pkg="platform_rx_thread_test" name="rx_thread_test" type="rx_thread_test"/>
          
    <node pkg="platform_tx" type="platform_tx" name="platform_tx" args="/dev/ttyUSB0"/>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="scan_to_scan_filter_chain">
        <rosparam file="$(find laser_filters)/vail_obstacles.yaml" command="load"/>
    </node>


 	<arg name="host" default="192.168.0.204" />
 	<arg name="publish_min_range_as_inf" default="false" />
 	<node pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
    		<param name="host" value="$(arg host)" />
    		<param name="publish_min_range_as_inf" value="$(arg publish_min_range_as_inf)" />
 	</node>
</launch>

