<launch>

<!-- static transform using tf2-->
<!-- node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="x y z yaw pitch roll parent_frame child_frame period_in_ms" /-->

<!-- base_link frame은 고정프레임이 아니므로 여기 말고 따로 노드를 만들어서 해야 함. (기존에 만들었던거 쓰면 될 듯)-->
<!--node pkg="tf" type="static_transform_publisher" name="platform_base"   args="0 0 0 0 0 0 world base_link 100" /-->
<node pkg="platform_static_tf"  type="move_base"  name="move_base" />
<node pkg="tf" type="static_transform_publisher" name="camera_main_tf"  args="-1 0 0 0 0 0 base_link camera_main 100" />
<node pkg="tf" type="static_transform_publisher" name="camera_rear_tf"  args="-2 0 0 3.141592 0 0 base_link camera_rear 100" />
<node pkg="tf" type="static_transform_publisher" name="camera_left_tf"  args="2 1 0 0.8 0 0 base_link camera_left 100" />
<node pkg="tf" type="static_transform_publisher" name="camera_right_tf" args="2 -1 0 -0.8 0 0 base_link camera_right 100" />
<node pkg="tf" type="static_transform_publisher" name="lidar_tf"        args="4 0 0 0 0 0 base_link laser 100" />
<rosparam command="load" file="$(find platform_static_tf)/my_laser_config.yaml" />
</launch>