<launch>
	<arg name="main_camera_name" default="main"/>
	<arg name="main_camera_num" default="1"/>

	<group ns="$(arg main_camera_name)">
		 <node name="camera_image" pkg="camera_image" type="camera_image" args="$(arg main_camera_name)">
			<param name="camera_num" value="$(arg main_camera_num)"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="1"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="$(arg main_camera_name)" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="1"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
		</node>-->
		<!-- <node name="send_vec" pkg="send_vec" type="send_vec"></node> -->


		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="$(arg main_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="cal_path" value="/home/whiteherb/catkin_ws/src/autonomous2018-ssu/vision/cal_distance/data"/>
		</node>

		<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="$(arg main_camera_name)" respawn="true" output="screen">
			<param name="debug" value="0"/>
		</node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="$(arg main_camera_name)"/>
		</include>

	</group>


  	<!-- <node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="cam0" respawn="true"></node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="cam0"/>
		</include> -->


	<!-- <group ns="cam0">
		<node name="camera_image" pkg="camera_image" type="camera_image" args="cam0" output="screen">
			<param name="camera_num" value="0"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="1"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="cam0" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="0"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
		</node>

		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="cam0" respawn="true"></node>

  	<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="cam0" respawn="true"></node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="cam0"/>
		</include>
	</group> -->

	<!-- <group ns="cam1">
		<node name="camera_image" pkg="camera_image" type="camera_image" args="cam1" output="screen">
			<param name="camera_num" value="1"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="1"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="cam1" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="0"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
		</node>

		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="cam1" respawn="true"></node>

  	<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="cam1" respawn="true"></node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="cam1"/>
		</include>
	</group> -->


</launch>
