<launch>
	<group ns="cam0">
		<node name="camera_image" pkg="camera_image" type="camera_image" args="cam0" output="screen">
			<param name="camera_num" value="0"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="1"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="cam0" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="0"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
		</node>

		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="cam0" respawn="true"></node>

  	<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="cam0" respawn="true"></node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="cam0"/>
		</include>
	</group>

	<!-- <group ns="cam1">
		<node name="camera_image" pkg="camera_image" type="camera_image" args="cam1" output="screen">
			<param name="camera_num" value="1"/>
			<param name="frequency" value="30"/>
			<param name="debug" value="1"/>
			<param name="calibration" value="0"/>
			<param name="sizeup" value="0"/>
		</node>

		<node name="lane_detection" pkg="lane_detection" type="lane_detection" args="cam1" respawn="true" output="screen">
			<param name="debug" value="0"/>
			<param name="web_cam" value="1"/>
			<param name="imshow" value="0"/>
			<param name="track_bar" value="0"/>
			<param name="timecheck" value="0"/>
			<param name="lable" value="0"/>
		</node>

		<node name="cal_distance" pkg="cal_distance" type="cal_distance" args="cam1" respawn="true"></node>

  	<node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" args="cam1" respawn="true"></node>

		<include file="$(find pointcloud_to_laserscan)/launch/sample_node.launch">
			<arg name="groupName" value="cam1"/>
		</include>
	</group> -->


</launch>
