<launch>
	<arg name="cam_num" value="0"/>	
	<arg name="frequency" value="30"/>
	<include file="$(find camera_image)/launch/camera_image.launch">
		<arg name="cam_num" value="$(arg cam_num)"/>
		<arg name="frequency" value="$(arg frequency)"/>
	</include>
	<node name="lane_detection" pkg="lane_detection" type="lane_detection" respawn="true">
	</node>
	<node name="cal_distance" pkg="cal_distance" type="cal_distance" respawn="true">
	</node>
    <node name="convert_cloud" pkg="convert_cloud" type="convert_cloud" respawn="true">
	</node>

</launch>