<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->


<launch>
 	<!--  ************** Robot Coordinate System (tf nodes) 차량좌표계 설정 (정확한 마운트 후 수정 필요, 그 이후 건들 필요 없음) ***************  -->
	 	<!--
		해야할일(18.2.12 기준)
			1. map - odom - odom_combined - base_footprint - base_link 순으로 tf 수정해야 함
			2. odom 관련 covariance 세팅 (#define으로 해놓았음)
			3. footprint (static_tf)
			4. robot_pose_ekf package에서 IMU를 off하면 orientation이 아예 안바뀜 -> 어떻게 할 지 생각해야 함
		-->
	<!--node pkg="platform_static_tf"  type="move_base"  name="move_base" /-->
	<node pkg="tf" type="static_transform_publisher" name="camera_main_tf"  args="-1 0 0 0 0 0 base_link camera_main 100" />
	<node pkg="tf" type="static_transform_publisher" name="camera_rear_tf"  args="-2 0 0 3.141592 0 0 base_link camera_rear 100" />
	<node pkg="tf" type="static_transform_publisher" name="camera_left_tf"  args="2 1 0 0.8 0 0 base_link camera_left 100" />
	<node pkg="tf" type="static_transform_publisher" name="camera_right_tf" args="2 -1 0 -0.8 0 0 base_link camera_right 100" />
	<node pkg="tf" type="static_transform_publisher" name="lidar_tf"        args="4 0 0 0 0 0 base_link laser 100" />
       
	   

	    <!--  ************** Global Parameters (시뮬레이션 시간) ***************  -->
        <param name="/use_sim_time" value="true"/>

        <!--  ************** Stage Simulator (이 부분을 실제 platform의 Controller & Sensing Node 만들어 대체해야 함)**************  -->
			<!--
			Subscribing Topic: /cmd_vel 
				
				Node에서 일어나는 일 (작업해야 할 것들)
				   1. /cmd_vel topic을 받아와 실제 차량을 제어하는 Motion Control
				   2. 실제 센서 데이터들
				   3. Odometry 정보 (속도, 방향각 센싱 -> Odometry)
			
			Publishing 	Topic: /scan, /odom, /tf (/odom, /base_footprint)
			-->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find teb_local_planner_tutorials)/stage/maze_carlike.world">
		<remap from="base_scan" to="scan"/>
  	</node>

 
 
 
 
 
        <!--  ************** Navigation관련 Parameter 세팅 (이 부분이 main 작업이 될 것) ***************  -->
			<!--
			해야할일(18.2.12 기준)
				1. .yaml파일 수정 (planning 과정에 footprint가 필요하므로 planning 관련 .yaml파일의 footprint 설정해야 함
				2. footprint 설정하기 위한 차량의 크기 등 정확한 측정이 필요
			-->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

    	<param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
	</node>






	<!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner_tutorials)/maps/maze.yaml" output="screen">
		<param name="frame_id" value="/map"/>
	</node>





	<!--  ****** ACML *****  -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load" />

	    <param name="initial_pose_x"            value="2"/>
		<param name="initial_pose_y"            value="2"/>
		<param name="initial_pose_a"            value="0"/>
	</node>





	  <!--  **************** Visualisation ****************  -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation.rviz"/>

</launch>
