<launch>
<node pkg="amcl" type="amcl" name="amcl" output="screen">
  <remap from="scan_filtered" to="scan"/>
  <param name="odom_model_type" value="diff"/>
  <!-- initial value -->
  <param name="initial_pose_x" value="0"/>
  <param name="initial_pose_y" value="0"/>
  <param name="initial_pose_a" value="0"/>
</node>
</launch>