<launch>
  <include file="$(find sensor_launch)/launch/sensor_launch.launch" />
  <include file="$(find localization_launch)/launch/localization_launch.launch" />
  <include file="$(find platform_static_tf)/launch/robot_setup.launch"/>
  <include file="$(find move_base_ssu)/launch/move_base_ssu.launch"/>
  <arg name="cam_num" default="0"/>	
	<arg name="frequency" default="30"/>
     <include file="$(find lane_detection)/launch/start.launch">
      <arg name="cam_num" value="$(arg cam_num)"/>
		  <arg name="frequency" value="$(arg frequency)"/>
     </include>
</launch>