<launch>

	<!--  ****** Robot Setup ******  -->
	<param name="wheelbase" value="1.0"/>


	<!--  ****** Localization 1 (wheelbased odometry) ******  -->
    <node pkg="odometry" type="odom_pub" name="odom_wheelbased">
        <param name="/frame_id" value="odom"/>
        <param name="/child_frame_id" value="base_footprint"/>        
        <param name="/initial_x" value="0.0"/>
        <param name="/initial_y" value="0.0"/>
        <param name="/initial_heading" value="0.0"/>
        <param name="/trans_cov" value="0.1"/>
        <param name="/rot_cov" value="0.005"/>
    </node>

<!--	
 	<node pkg="gps_common" type="utm_odometry_node" name="Degree_To_UTM" />

 	<param name="/gps/easting_shift" value="319000"/>
 	<param name="/gps/northing_shift" value="4151000"/>

 	<param name="GPS_Odometry_initial" value="false"/>
-->


	<!--  ****** Localization 2 (ekf filtered odometry) ******  
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find robot_localization)/params/ekf_template.yaml" />
    </node>
	-->


	<!--  ****** Localization 3 (ACML) *****  -->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find move_base_ssu)/cfg/amcl_params.yaml" command="load" />

	    <param name="initial_pose_x"            value="35.5"/>
		<param name="initial_pose_y"            value="15"/>
		<param name="initial_pose_a"            value="-1.57"/>
	</node>
	


	<!--  ****** Maps ******  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find move_base_ssu)/maps/namu.yaml" output="screen">
		<param name="frame_id" value="map"/>
	</node>



	<!--  ****** Move_Base ******  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find move_base_ssu)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find move_base_ssu)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find move_base_ssu)/cfg/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find move_base_ssu)/cfg/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find move_base_ssu)/cfg/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="7.0" />
		<param name="controller_patience" value="15.0" />

    	<param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
	</node>


	 <!--  **************** Visualisation ****************  -->
	  <node name="rviz" pkg="rviz" type="rviz"/>
	  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>